@import "tailwindcss";
body{
  background-color: black;
  overflow:hidden; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}




